body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #A0CED9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  div{
    text-align: center;
  }
form {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 450px;
  }
  
 h2 {
    margin-bottom: 1.5rem;
    color: #2d6a4f;
    font-size: 5rem;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 425px;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #3eb1cd;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #225c44;
  }
  
  p {
    margin-top: 1rem;
    display: block;
    font-size: 0.9rem;
    color: #555;
  }
  
 p a {
    color: #023c22;
    text-decoration: none;
    font-size: medium;
  }
  
p a:hover {
    text-decoration: underline;
  }